
<footer class="site-footer">
    <div class="container footer-inner">
        <p>
            © Onatrix. All Rights Reserved. Credits to <strong>Themesflat</strong>
        </p>
    </div>
</footer>
