@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = "_Layout.cshtml";
}

<section style="padding:100px; text-align:center;">
    <h1>@Model.Value("pageTitle")</h1>
    <p>Testing Home view — layout fungerar ✅</p>
    <p>Testing Home view — layout fungerar ✅</p>
</section>
